/* Adapted from react-chatbox-kit documentation (https://fredrikoseberg.github.io/react-chatbot-kit-docs/docs/) */

.course-options-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .course-option-button {
    margin: 5px;
    border-radius: 25px;
    padding: 8px;
    border-color: #1e3766;
    background: transparent;
    text-align: center;
  }